body {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background: #e7e7e7;
}

button {
	padding: 10px;
	margin: 10px 10px 20px 10px;
	background: #4aaaa5;
	border: 0;

}

.animalType {
	color: #fff;

}

.animalType:active {
	color: #000;
	background: red;
}

.animalType:hover {
	color: #000;
}

#animal-input, #add-animal, p {
	margin: 5px 200px 5px 0;
}

#header {
	margin-left: 5px;
	margin-top: 15px;
}

.animalGifs {
	margin: 10px;
	float: left;
}

#animal-form {
	float: right;
}